<form method="post" action="/thankyou">
    <p>
        Rellena
    </p>
    <p>
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" />
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />
    </p>
	    <p>
        <label for="coment">Comentario:</label>
        <input type="text" name="coment" id="coment" />
    </p>
	
    <p>
        <button type="submit">Registrate</button>
    </p>
</form>